@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("./assets/fonts/Estedad-Thin.woff2") format("woff2");
}

@font-face {
  font-family: estedad-extralight;
  font-weight: 200;
  src: url("./asset/fonts/Estedad-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: estedad-light;
  font-weight: 300;
  src: url("./asset/fonts/Estedad-Light.woff2") format("woff2");
}

@font-face {
  font-family: estedad-regular;
  font-weight: 400;
  src: url("./asset/fonts/Estedad-Regular.woff2") format("woff2");
}

@font-face {
  font-family: estedad-medium;
  font-weight: 500;
  src: url("./asset/fonts/Estedad-Medium.woff2") format("woff2");
}

@font-face {
  font-family: estedad-semibold;
  font-weight: 600;
  src: url("./asset/fonts/Estedad-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: estedad-bold;
  font-weight: bold;
  src: url("./asset/fonts/Estedad-Bold.woff2") format("woff2");
}

@font-face {
  font-family: estedad-extrabold;
  font-weight: 900;
  src: url("./asset/fonts/Estedad-ExtraBold.woff2") format("woff2");
}

@import "tailwindcss";

@theme {
  /* --font-estedad: "Estedad", "estedad"; */
  /* --font-estedad-extralight: Estedad, "estedad-extralight";
  --font-estedad-light: Estedad, "estedad-light";
  --font-estedad-regular: Estedad, "estedad-regular";
  --font-estedad-medium: Estedad, "estedad-meduim";
  --font-estedad-semibold: Estedad, "estedad-semibold";
  --font-estedad-bold: Estedad, "estedad-bold";
  --font-estedad-extrabold: Estedad, "estedad-extrabold"; */
}
